.App {
  text-align: center;
}

.logo {
  font-family: "Archivo Black", sans-serif;
  font-style: italic;
  font-size: 72px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #5c8ee0;
  margin-top: 10%;
  margin-bottom: 3%;
}
