@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kaushan+Script&family=Merienda+One&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Sora:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
